<form action="/courts" method="post">
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text">
    </div>

    <div>
        <input type="submit">
    </div>
</form>
